
/* SUMMARY
1. GLOBAL
2. LAYOUT
3. SECTION
4. CARD
*/


/*** 1. GLOBAL ***/

@font-face {
  font-family: "Source Sans Pro Bold";
  src: url(assets/fonts/source-sans-pro/SourceSansPro-Bold.otf);
}

@font-face {
  font-family: "Source Sans Pro Regular";
  src: url(assets/fonts/source-sans-pro/SourceSansPro-Regular.otf);
}

@font-face {
  font-family: "Source Sans Pro Light";
  src: url(assets/fonts/source-sans-pro/SourceSansPro-Light.otf);
}


/* Variables
  ============================= */

  :root {
      --font-family-bold: "Source Sans Pro Bold", sans-serif;
      --font-family-regular: "Source Sans Pro Regular", sans-serif;
      --font-family-light: "Source Sans Pro Regular", sans-serif;
      --active-color: #ff6565;
      --hover-color: #ff6565;
      --white-color: #ffffff;
      --black-color: #000000;
      --hover-opacity: 0.9;
      --active-opacity: 0.9;


    /** SECTION **/

    /** HEADER **/

    /** FOOTER **/

    /** NAVBAR **/

    /** BUTTON **/

    /** MOTION **/
    --transition-duration: .3s;

  }

  /* Base
      ============================= */
  
  *, *:before, *:after {
    box-sizing: border-box;
  }
  
  html {
  scroll-behavior: smooth;
  margin: 0;
  max-width: 100%;
  }
  
  body {
    font-family: var(--font-family-bold);
    margin: 0;
  }
  
  li {
    list-style: none;
  }
  
  a {
    color: var(--white-color);
    text-decoration: none;
  }
  
  /* @media (max-width: 480px) {
    html {
      background-position: 57%;
      background-image: cover;
    }
  } */
  
  /* @media (min-width: 481px) and (max-width: 767px) {
    html {
      font-size: 60%;
    }
  } */

  /* Helpers
      ============================= */

  main img {
    width: 100vh;
    height: auto;
  }

  /*** 2. LAYOUT ***/
  
  /* Layout
      ============================= */



  /* Grid
      ============================= */



  /* HEADER
      ============================= */
  
  .header {
    background-image: url(assets/images/headphones_hero_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    height: 100vh;
    color: var(--white-color);
    display: flex;
    align-items: center;
  }

  .container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 71.4vw;
    max-width: 1000px;
    padding-top: 3.47vh;
  }

  /* Navbar
      ============================= */

      .nav {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        display: flex;
        width: 255px;
        height: 4.0vh;
        gap: 41px;
        font-size: 12px;
      }
    
      .nav-item {
        display: flex;
        align-items: center;
      }
    
      .nav .nav-link:hover {
        color: var(--hover-color);
        opacity: var(--hover-opacity);
      }
    
      @media (max-width: 767px) {
        :root {
          /* --nav-item-margin: 0; */
        }
    
        .navbar-menu {
          display: none;
          flex: 1;
        }
    
        .header .nav {
          flex-direction: column;
          overflow: hidden;
          max-height: 0;
          transition: max-height .2s ease-out;
        }
      }

  .header-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 800px;
    width: 39.813rem;
    min-height: 313px;
    height: 39.125vh;
    margin-top: 38.63vh;
    margin-bottom: 14.375vh;
  }

  .header-text h1 {
    line-height: 2.5rem;
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
  }

  .header-text h3 {
    line-height: 1.25rem;
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
  }

  .text-btn {
    background-color: var(--active-color);
    color: var(--white-color);
    cursor: pointer;
    border:  none;
    border-radius: 1.375rem;
    width: 10.125rem;
    height: 2.75rem;
    margin-top: auto;
    font-size: 0.875rem;
  }

  .text-btn:hover {
    opacity: var(--hover-opacity);
  }

  .text {
    margin-top: auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    font-style: normal;
    font-family: var(--font-family-regular);
  }

  /* header btn 
      ============================= */

  .menu-btn {
    display: none;
  }

  .menu-btn:checked ~ .navbar-menu {
    display: block;
  }

  .menu-btn:checked ~ .navbar-menu .nav {
    max-height: 100%;
    overflow: inherit;
  }

  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .header .menu-btn:checked ~ .menu-icon .navicon::before {
    transform: rotate(-45deg);
  }

  .header .menu-btn:checked ~ .menu-icon .navicon::after {
    transform: rotate(45deg);
  }

  .header .menu-btn:checked ~ .menu-icon .navicon::before,
  .header .menu-btn:checked ~ .menu-icon .navicon::after {
    top: 0;
  }

  /* Footer
      ============================= */

  /*** 3. SECTION ***/
  
  /* Section (all styles)
      ============================= */

  /* Section theming
      ============================= */

  /* Section HERO
      ============================= */

  /* Section Latest news
      ============================= */